*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Header_flex{
background-color: rgb(53,53,53);
display: flex
justify-content center
}
.navegador{
    padding-right: 2.5rem;
    margin-left: 2rem;
    width: 50%;
    display:flex;
    align-items: right;
    justify-content: space-around
}
.navegador2{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: 2rem;
    padding-right: 1rem;
}
#linkColor{
    text-decoration: none;
    color: rgb(39, 168, 68);
    font-size: 1rem;
    margin: 25px
    display inline-block
}
.contenedorTicket{
    display: flex;
    position: absolute;
    width: 100%;
    height: 88%;
    background-image: url(../assets/imagenes/comprarticket.jpeg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
.ContenedorImagen{
    width: 100%;
    height: 850px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.61)) , url(../assets/imagenes/ba1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.TextoenImagen{
    position: relative;
    top: 40%;
    right: 3%;
    text-align: right;
    margin: 0 0 0 58%;
    font-size: 1.3rem;
}
.Botones{
    position: relative;
    top: 42%;
    right: 3%;
    text-align: right;
}
.contenedorCards{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introduccion{
    margin: 0 auto 2%;
    box-sizing: border-box;
    text-align: center;
    line-height: normal;
}
.BotonesCards{
    margin: 10px 0px 0px 2%;
    padding: 0,9%
    border-radius 5px;
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.seccionMardelplata{
    display: flex;
    height: 70vh;
}
.ImagenMardel{
    height: 100%;
    width: 50%;
    background-image: url(../assets/imagenes/Mardelplata.jpg)
}
.InfolugaryFecha{
    height: 100%;
    width: 50%;
    padding: 2rem;
    background-color: #343333;
    color: white;
    font-size: 1,5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
        }
.Formulario{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 2% 0;
    color: #222222;
}
.Charla{
    text-decoration: none
    color #222222;
    
}
.Inputs{
    width: 44%;
    margin: 1%;
    height: 30px;
    border: 1px #acacac solid;
    border-radius: 3px;
}
.Enviar{
    border: 1px solid #14f244;
    border-radius: 5px;
    background-color: #14f244;
    padding: 0 40%;
    box-sizing: border-box;
    color: white;
    font-size: 1.3rem;
}
.Recuerda{
    text-align: start;
    margin-left: 5%;
    color: darkgrey;
    font-size: 0,2rem;
}
.Color{
background-color: #1C3D4E;
}
.cardNva{
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.TarjetasPromo{
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    height: 100%;
    width: 40%;
    padding: auto;
    margin: auto;
    text-align: center;
}
.TituloTicket{
    margin: auto;
    padding: auto;
    text-align: center;
}
.Enviar2{
    border: 1px solid #97C93E;
    border-radius: 5px;
    background-color: #97C93E;
    padding: 0 18.8%;
    box-sizing: border-box;
    color: white;
    font-size: 1.3rem
}
.FormularioTicket{
    height: 100%;
    width: 40%;
    align-items: center;
    padding: auto;
    margin: auto;
}
.textoPagar{
    text-align: start;
    background-color: #CCE5FF;
    border: 1px solid #a0c8f2;
    border-radius: 5px;
    }

